<html>
    <head>
        <meta charset="utf-8">
        
<!-- Bootstrap Core CSS -->
<link type="text/css" rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap.min.css">
<link type="text/css" rel="stylesheet" href="../node_modules/bootstrap/dist/css/bootstrap-theme.min.css">
        <title>First App</title>
    </head>
    <body>
        <div class="container">
            <h1 class="text-center">Hello Electron</h1>
            <br>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a href="" data-target="#home" data-toggle="tab">Home</a></li>
                <li role="presentation"><a href="" data-target="#profile" data-toggle="tab">Profile</a></li>
            </ul>
            
            <div class="tab-content">
			  <div class="tab-pane active" id="home">
                <br><br>
                <div class = "panel panel-success">
                    <div class = "panel-heading">Home</div>
                    <div class="panel-body">Panel Content</div>
                </div>
                <hr>
              </div>
			  <div class="tab-pane" id="profile">
                <br><br>
                <div class = "panel panel-success">
                    <div class = "panel-heading">Profile</div>
                    <div class="panel-body">Panel Content</div>
                </div>
                <hr>
              </div>
			</div>
        </div>
        <script>
            window.$ = window.jQuery = require('../node_modules/jquery/dist/jquery.min.js');
            require('../node_modules/bootstrap/dist/js/bootstrap.min.js');
            require('../node_modules/angular/angular.min.js');
            require('../index.js');
        </script>
    </body>
</html>
